#page {
	background-color: $color__background-page;
	margin: 0 auto;
}

.container-fluid .apollo-wrapper {
	width: 100%;
	max-width: $max_width__apollo-wrapper;
	margin: 0 auto;
}


/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";